<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <p>This page is created by pavan kumar. By using some opensource API projects.</p>
        {{>footer}}
    </body>
</html>