<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div>
        {{>header}}
        {{>footer}}
        <form>
            <input placeholder="address">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>
